<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<div id="container">
    <form action="/login" method="POST">
        <div id="login">
            <h1>Login</h1>
            <h2 th:text="${loginText}"></h2>
            <p>Make sure your email and password are correct</p>
            <label for="loginEmail">Email</label>
            <input type="email" id="loginEmail" name="email" required/>
            <label for="loginPassword">Password</label>
            <input type="password" id="loginPassword" name="password" required/>
            <button type="submit" id="login-btn">Login</button>
        </div>
    </form>

    <form action="/register" method="POST">
        <div id="register">
            <h1>Sign-up</h1>
            <h2 th:text="${registerText}"></h2>
            <p>If you don't have an account, please Sign up first</p>
            <label for="signupEmail">Email</label>
            <input type="email" id="signupEmail" name="email" required/>
            <label for="signupPassword">Password</label>
            <input type="password" id="signupPassword" name="password" required/>
            <button type="submit" id="register-btn">Sign-up</button>
        </div>
    </form>
</div>
</body>
</html>
